<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    

  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 recursos">
            <div><a href="">Servicio Tecnico</a></div>
            <div><a href="">Envio</a></div>
            <div><a href="">Sucursales</a></div>
            <div><a href="">Contacto</a></div>
          </div>
        </div>
        <div class="row">
          <div class=" col-1 col-md-2 logo">
            <a href=""><img src="/images/logosinfondo.png" alt=""></a>
          </div>
            <div class="col-10 col-md-7 buscador">
              <form action="">
                <input type="text" placeholder="Buscar productos, marcas y más ...">
                <button type="submit"><i class="fas fa-search"></i></button>
              </form>
              </div>
            <div class=" col-1  col-md-2 botonlogin">
            <button type="button" class="btn btn-secondary">LOGIN</button>
            </div>
        </div>
            
           <div class="col-12 col-md-12 col-lg-12 nav">
            <nav class="navbar-expand-md">
              <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
              <ul class="menu navbar-nav mr-auto">
                  <li class="nav-item active">
                    <ul>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Categorias
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">TERROR</a>
                          <a class="dropdown-item" href="#">RPG</a>
                          <a class="dropdown-item" href="#">INFANTILES</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Ofertas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Historial</a>
                  </li>
                  
                </ul>
                <li class="logoshome">
                  <i class="fas fa-user-cog"></i>
                  <i class="fas fa-shopping-cart"></i>
                  
                </li>
              </div>
              
            </nav>
        </div> 
      
    </header>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Detalles</li>
        </ol>
      </nav>
      
      <div class="container-fluid">
        <div class="row">
          <article class="col-12 videodet">
            <iframe width="100%" height="400vh" src="https://www.youtube.com/embed/mIehtjVAuHU?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
          </article>
          <article class="col-12 imagendet">
            <img src="/images/re8.jfif" class="img">
            <img src="/images/re8-1.jfif" class="img">
            <img src="/images/re8-2.jpg" class="img">
            <img src="/images/re8-3.jfif" class="img">
          </article>
          <article class="col-12">
            <h2>Residen Evil 8</h2>
            <h4>Historia</h4>
            <p class="historia">El peligro y la soledad emanan de las decrépitas paredes de una granja abandonada en el sur de los EE. UU. «7» marca un nuevo inicio para el género del survival horror, con el cambio a la aterradora perspectiva de jugador «vista aislada». Con el RE Engine, el terror llega a nuevas cotas de fotorrealismo.</p>
            
            <h4>Requisitos</h4>
            <ul class="bb_ul">
              <li>
                <strong>
                  SO:
                </strong> 
                Windows 7/8.1/10 (64-bit versions)
                <br>
              </li>
              <li>
                <strong>
                  Procesador:
                </strong> 
                CPU: Intel Core i5-4590 or AMD FX 8350 or better
                <br>
              </li>
              <li>
                <strong>
                  Memoria:
                </strong>
                 8 GB de RAM
                 <br>
                </li>
                <li>
                  <strong>
                    Gráficos:
                  </strong>
                   Nvidia GeForce GTX 1070 / AMD Radeon RX 480 or better
                   <br>
                  </li>
                  <li>
                    <strong>
                      Almacenamiento:
                    </strong>
                     17 GB de espacio disponible
                    </li>
                  </ul>
            <div class="col-12">
              <button type="button" class="btn btn-secondary">COMPRAR</button>
            </div>
            </article>
            
        </div>
      </div>
    
  <footer class="container-fluid">
    <div class="row footer">
      
      
      <div class="col-12">
        <article>
          <i class="fas fa-phone-alt"></i>
          <h4>Atencion al Cliente</h4>
          <p>0800 111 2222</p>
        </article>
      </div>
      <div class="col-12">
        <article>
          <ul class="redes">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-square"></i>
            
            <i class="fab fa-apple"></i>
            <i class="fab fa-amazon"></i>
            <i class="fab fa-instagram"></i>
        </ul>
        </article>
      </div>
    </div>
    <div class="col-12 copy">Copyright 2020 Comision #2</div>
  </footer>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
