<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
<body>
    <header>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 recursos">
              <div><a href="">Servicio Tecnico</a></div>
              <div><a href="">Envio</a></div>
              <div><a href="">Sucursales</a></div>
              <div><a href="">Contacto</a></div>
            </div>
          </div>
          <div class="row">
            <div class=" col-1 logo">
              <a href=""><img src="/images/logoEA.png" alt=""></a>
            </div>
              <div class="col-10 col-md-5 buscador">
                <form action="">
                  <input type="text" placeholder="Buscar productos, marcas y más">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                </div>
            <div class=" col-1 botonlogin">
              <button type="button" class="btn btn-secondary">LOGIN</button>
            </div>
            <div class="col-12 col-md-12 col-lg-12 nav">
              <nav class="navbar-expand-md">
                <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="menu navbar-nav mr-auto">
                    <li class="nav-item active">
                      <ul>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categorias
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Terror</a>
                            <a class="dropdown-item" href="#">RPG</a>
                            <a class="dropdown-item" href="#">INFANTILES</a>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Ofertas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Historial</a>
                    </li>
                    
                  </ul>
                  </ul>
                </div>
              </nav>
              <!-- #region -->
              
          </div> 
        </div>
      </header>
  </body>
</html>