*{
  box-sizing: border-box;
  margin: 0;
}
/*GENERAL*/
body{
  background-color: black;
  font-family: Roboto Slab;
  font-weight: 300;
  color: white;
}
a{
  text-decoration: none;
  
}
li{
  list-style: none;

}
ul{
  padding: 0px;
}
/*CABECERA*/
header{
  
  background-color:black;
  display: flex;
  
}

.logo img{
  width: 75px;
  height: 75px;
}
header .recursos{
  display: flex;
  justify-content: flex-end;
}
header .recursos a{
  
  margin-left: 10px;
  color: white;
  
}
header .botonlogin{
  
  text-align: center;
  margin-left: 35%;
  margin-top: 10px;
}
header .botonlogin a{
  border: 1px solid white;
  
}
header .nav{
 display: flex;
 justify-content: space-around;
 padding-top: 20px;
}
header .nav a{
  color: white;
}
header .nav i{
  color: white;
}

header .nav .dropdown a{
  background-color: black;
  color: white;
}
header .nav a{
  align-content: center;
  border-bottom: 1px solid white;
}
header .buscador{
  margin-left: 30px;
  margin-top: 10px;
}
/*PRODUCTOS y CARRUSEL*/
.carrusel{
  
  padding: 20px;
  
  display: none;
}
.carrusel h2{
  color: white;
}
.contenido{
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px ;
  text-align: center;
  color: white; 
}
.productosrec{
  justify-content: center;
}
h2{
  text-align: center;
  color: white;
}
.dropdown-menu {
  background-color: black;
}





/*FOOTER*/
footer{
  padding: 10px;
  background-image: url("../images/fondodeprueba.jpg");
  color: white;
}
.footer article{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.footer article i{
  font-size: 35px;
  color: white;
  margin: 10px;
}
.footer h4, .footer p{
  color: white;
  margin: 20px 0;
}
.footer .copy{
  padding: 20px 0;
  text-align: center;
  color: white;
}

.recom{
  text-align: center;
}
@media(min-width:768px){
  /*HEADER*/
  header .buscador input{
    width: 90%;
  }
  .carrusel{
    display: inline;
  }
  li .logoshome i{
    position: relative;
    left: 15%;
  }
  
  header .botonlogin{
    margin-left: 0;
    text-align: center;
    margin-top: 10px;
  }
  header .nav {
   padding: 0;
  }
  header .nav a{
    border-bottom: 0;
    margin-right: 10vh;
  }
  /*MENU*/
  .productos{
    display: flex;
    max-width: 100%;
  }
  .productos .contenido img{
    width: 90%;
  }
  




}

/*FORMULARIO DE REGISTRO*/
.principal {
  background-color: #232020;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  padding-left: 2em;
  padding-right: 2em;
  padding: 2em;
  justify-content: center;

}
.item1 {
  background-color: slategrey;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
  display: flex;
  width: 80%;
  height: 100%;
  flex-wrap: wrap;
  padding: 0px;
}
.item2 {
  width: 60%;
  padding-top: 15px;
  overflow: hidden;
  text-align: center;
  background-color: black;
  color: white;
  
}
#Formu {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 0px;
}
#itemimg {
  padding: 0px;
  width: 100%;
  background-color: gray;
  
}
.imag {
  width: 100%;
  height: 100%;
}
.control {
  border: none;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-left: solid 2px #810303;
  border-bottom: solid 2px #810303;
  background-color: black ;
  outline: none;
  color: blanchedalmond;
  box-shadow: 0 0 20px 0 rgba(129, 61, 61, .3);
  
}

.controlBoton {
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  box-shadow: 0 0 20px 0 rgba(250, 250, 250, .3);
  background-color: #A19D9D;
  border-radius: 10px;
}

.redi {
  color: white;
  margin: 1em;;
}

.subtitulo{
  color: #810303;
  width: 100%;
  text-align: center;
  padding: 1em;
}
.terminos { 
   font-size: 10px;
   margin-top: 20px;
}

@media(max-width:480px) {
  .item1{
    width: 100%;
    margin: 0px;
  }

}
/*DETALLES DEL PRODUCTO*/
.breadcrumb{
  background-color: black;
}
.breadcrumb a{
  color: white;
}
.breadcrumb-item.active {
  color:white;
}

.imagendet img{
  width: 70px;
  height: 70px;
}
.historia{
  background-color: darkslategray;
  border-radius: 10px;
}