*{
  box-sizing: border-box;
  margin: 0;
}
/*GENERAL*/
body{
  font-family: Roboto Slab;
  font-weight: 300;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;

}
ul{
  padding: 0px;
}
/*CABECERA*/
header{
  
  background-color:white;
  display: flex;
  box-shadow: 0 10px 5px #888888;
}

.logo img{
  width: 50px;
  height: 50px;
}
header .recursos{
  display: flex;
  justify-content: flex-end;
}
header .recursos a{
  
  margin-left: 10px;
  border-right: 1px solid black;
  color: black;
  
}
header .botonlogin{
  
  text-align: center;
  margin-left: 35%;
  margin-top: 10px;
}
header .botonlogin a{
  border: 1px solid black;
  
}
header .nav{
 display: flex;
 justify-content: space-around;
 padding-top: 20px;
}
header .nav a{
  background-color: black;
  color: white;
}

header .nav .dropdown a{
  background-color: black;
  color: white;
}
header .nav a{
  align-content: center;
  border-bottom: 1px solid white;
}
header .buscador{
  margin-left: 30px;
  margin-top: 10px;
}
/*PRODUCTOS y CARRUSEL*/
.carrusel{
  
  padding: 20px;
  
  display: none;
}
.carrusel h2{
  color: white;
}
.contenido{
  background-color: black;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin:10px;
}

.menuhome{
margin-top: 50px;;
}
.menuhome h2{
  text-align: center;
}
.menuhome .contenido{
  border: 1px solid white;
  box-shadow: 0 10px 5px #888888;
}
.productos{
  display: inline;
}
.productos .contenido img{
  width: 25%;
}



/*FOOTER*/
footer{
  padding: 10px;
  background-image: url("../images/fondodeprueba.jpg");
}
.footer article{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.footer article i{
  font-size: 35px;
  color: white;
  margin: 10px;
}
.footer h4, .footer p{
  color: white;
  margin: 20px 0;
}
.footer .copy{
  border-top: 1px solid var(--color-grisClaro);
  border-bottom: 1px solid var(--color-grisClaro);
  padding: 20px 0;
  text-align: center;
  color: var(---grisOscuro);
}
.recom{
  text-align: center;
}
@media(min-width:768px){
  /*HEADER*/
  .carrusel{
    display: inline;
  }
  header .botonlogin{
  
    text-align: center;
    margin-left: 25%;
    margin-top: 10px;
  }
  /*MENU*/
  .productos{
    display: flex;
    max-width: 100%;
  }
  .productos .contenido img{
    width: 90%;
  }
  




}