<!DOCTYPE html>
<html>
  <%- include("partials/head") %> 
  <body>
    <%- include("partials/header") %>
  <div class="principal" id="">
    <div class="item1" id="">
      <div class="item2 col-12 col-md-7">
          <h4 class="Subtitulo col-12">Registrarse en EA.</h4>
        <form id="Formu" class="col-12" action="" method="POST">
          <p>
            <input class="control col-6" type="text" name="name" id="nombres" placeholder="Nombre">
          </p>
          <p>
            <input class="control col-6" type="text" name="lastname" id="apellidos" placeholder="Apellido">
          </p>
          <p>
            <input class="control col-12" type="email" name="email" id="correo" placeholder="E-mail">
          </p>
          <p>
            <input class="control col-6" type="text" name="user" id="usuarios" placeholder="Usuario">
          </p>
          <p>
            <input class="control col-6" type="date" id="start" name="datebirth">
          </p>
          <p>
            <input class="control col-md-6" type="password" name="password" id="Contraseña" placeholder="Contraseña">
          </p>
          <p>
            <input class="control col-md-6" type="password" name="Contraseña" id="Contraseña" placeholder="Confirmar Contraseña">
          </p>
          
            <div class="custom-file mt-4">
              <input type="file" class="custom-file-input " id="customFileLang" lang="es" name="avatar">
              <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
              <small class="text-danger"><%= (typeof errorFormato != 'undefined')?errorFormato: "" %> </small>
            </div>
          
          <p class="terminos">
            <input type="checkbox" name="Acepto el Acuerdo" value="Acepto">Acepto los terminos de Uso, Terminos de Ventas y la politica de privacidad de ElectronicsArg.
          </p>
          <p>
            <input class="controlBoton col-6" type="submit" value="Crear Cuenta">
            <label><a class="redi col-12" href="">¿Ya tienes una Cuenta?</a></label>
          </p>
          
        </form>
      </div>
      <div id="itemimg" class="col-md-5">
        <img class="imag" src="images/Registro1.png" alt="Portada">
      </div>  
    </div>
  </div>
  
  <%- include("partials/footer") %>
</body>
</html>